body{
    background-color: grey;
}
#aditya1{
    color: yellow;
    text-align: center;
}
#aditya2{
    font-style: italic;
    background-color: white;
}
#aditya3{
    font-size: larger;
}
#aditya4{
    text-decoration: underline;

}
#aditya5{
    text-decoration: line-through;
}
#aditya6{

}